h1 {
    color: whitesmoke;
    background-color: darkblue;
    text-align: center;

}
span form {
    text-align: center;
    background-color: bisque;
}
p {
    color: chocolate;
    text-align: center;
    background-color: antiquewhite;
}
img {
    height: 100px;
    width: 900px;

}
